/* .password-container {
    display: flex;
    flex-direction: column;
  } */
  
  .input-container {
    position: relative;
  }
  
  .input-container input {
    width: 93%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    border-radius: 12px;
  }
  
  .icon-containereye {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* margin-top: 5px;  */
  }
  .password-container {
    position: relative;
  }
  
  .fa-eye {
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  .fa-eye-slash{
    position: absolute;
    top: 49%;
    right: 25px;
    transform: translateY(-50%);
    cursor: pointer;
  }
  @media (max-width: 480px) {
    .password-container {
      flex-direction: row;
      align-items: center;
    }
  
    .input-container {
      margin-right: 10px; /* Add spacing between input and icon */
    }
  
    .icon-containereye {
      margin-top: 0;
    }
  }
  