.eye-icon {
  position: absolute;
  top: 57%;
  right: -17px;
  transform: translateY(-40%);
  cursor: pointer;
  color: #9B9B9B;
  font-size: 24px;
  z-index: 1;
  width: 41px;
  background-color: white;
}

.eye-icon:hover {
  color: #4169e1;
}

/* .pass_field {
  font-family: inherit;
  width: calc(100% - 30px);
  border: 0;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  padding-left: 11px;
  z-index: 0; 
} */
.pass_field {
  font-family: inherit;
  width: calc(100% - 1px);
  border: 0;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: currentcolor;
  border-bottom: 2px solid gray;
  outline: 0;
  font-size: 1.3rem;
  color: black;
  padding: 7px 0;
  padding-left: 0px;
  background: transparent;
  transition: border-color 0.2s;
  padding-left: 11px;
  z-index: 0;
}

.pass_field::placeholder {
  color: transparent;
}

.pass_field:placeholder-shown~.form__label {
  cursor: text;
  top: 20px;
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
  padding-left: 16px;
}

.pass_field:focus~.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #4169E1;
  font-weight: 700;
}

.pass_field:focus {
  padding-bottom: 6px;
  font-weight: 100;
  border-width: 2px;
  border-image: linear-gradient(to right, #4169E1, #4169E1);
  border-image-slice: 1;
}

/* reset input */
.pass_field:required,
.pass_field:invalid {
  box-shadow: none;
}