* {
    margin: 0;
    padding: 0;
}

/* *,
*:before,
*:after {
    box-sizing: border-box;
} */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
body {
    font-family: sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #000;
}
header{
    width: 100%;
}
div.home{
    width: 20%;
    float: left;
    margin-top: 14px;
    font-size: 30px;
    font-family: cursive;
    font-weight: 500
}
div.home img{
    display: block;
    width: 50px;
    margin: 0 auto;
    position: relative;
    -webkit-transform: translateY(40%);
    -moz-transform: translateY(40%);
    -ms-transform: translateY(40%);
    -o-transform: translateY(40%);
    transform: translateY(40%);
}
nav{
    width: 80%;
    float: right;
    margin-top: 14px;
}
nav ul{
	width: 100%;
}

nav ul li {
    float: left;
    width: 20%;
    line-height: 60px;
    text-align: center;
}
.linebar{
	display: block;
	height: 3px;
	width: 20%;
	background: red;
	position: relative;
	left: 0;
    transition: 0.3s ease-in-out;
}
section{
    margin-top: 50px;
}
h1{
  display: block;
  width: 100%;
	text-align: center;
	margin: 0 auto;
	font-weight: 400;
	font-size: 30px;
}
section>p{
	text-align: center;
	margin: 30px auto;
	padding: 0 10%;
}
section>div{
	width: 90%;
	margin: 0 auto;
	display: none;
}
section>div.activ{
	display: block;
}
div.content h2{
	margin: 10px 0 40px 20%;
}
div.content p{
    display: block;
    margin: 0 auto;
	width: 60%;
    line-height: 1.7;
}
.container-fluid{
    /* position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999; */
    /* border-bottom: rgb(30, 232, 104);
    border-bottom-style: solid;
    margin-top: 36px; */
}
header.clearfix {
  position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    z-index: 999; 
    border-bottom: rgb(30, 232, 104);
    border-bottom-style: solid;
    /* margin-top: 19px; */
    border-bottom-width: 1px;
}
.logo{
    color: red;
    font-style: oblique;
    padding-left: 18px;
}
.iconstyle{
    height: 26px;
    width: 30px;
    color: #000;
    cursor: pointer;
}
@media screen and (max-width: 600px) {
	div.content h2{
		margin: 10px 0 40px 5%;
	}
	div.content p{
		width: 95%; 
	}
    div.home{
        width: 20%;
        float: left;
        margin-top: 1px;
        font-size: 30px;
        font-family: cursive;
        font-weight: 500;
        margin-left: 7px;
    }
    header.clearfix {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        z-index: 999;
        border-bottom: rgb(30, 232, 104);
        border-bottom-style: solid;
        /* margin-top: 19px; */
        border-bottom-width: 1px;
    }
    nav {
        width: 102%;
        float: right;
        margin-top: 14px;
    }
    .iconstyle{
        height: 26px;
        width: 26px;
        color: #000;
        cursor: pointer;
    }
}

.numicon{
    width: 80%;
    padding-left: 30%;
}
.linebar2{
    display: block;
    height: 3px;
    width: 8%;
    background: red;
    position: relative;
    left: 0;
    transition: 0.3s ease-in-out;
}