.maincontant{
    padding-top: 51px;
    background-color: #80808000;
    padding-bottom: 70px;
}

@media screen and (max-width: 600px) {
    .maincontant{
        padding-top: 72px;
        background-color: #80808000;
        padding-bottom: 70px;
    }
}